@import "../../styles/variables";

:local(.styles) {
  background: $background-gradient;

  > div.container {
    align-items: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 120%;

    @media (#{$phone}) {
      flex-direction: column;
      align-items: flex-start;
    }

    > div {
      flex: 16;
      display: flex;
      flex-direction: column;
      @media (#{$phone}) {
        width: 100%;
      }
      @media not all and (#{$phone}) {
        align-items: center;
      }
      &:not(:first-child) {
        @media not all and (#{$phone}) {
          border-left: $border;
        }
        @media (#{$phone}) {
          margin-top: 20px;
        }
      }
      &.guide {
        >div {
          width: 100%;
          background: #fff;
          border: $border;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          overflow: hidden;
          >img {
            margin: 0 -40px;
          }
          @media (#{$phone-portrait}) {
            flex-direction: column;
            background: none;
            border: none;
            >img {
              border-bottom: 1px solid $border-color;
              padding: 0 30px;
              box-sizing: content-box;
              &:not(:last-child) {
                margin: 0 0 20px;
              }
            }
          }
        }
      }
      @media not all and (#{$phone}) {
        &.details {
          flex-basis: 10%;
        }
        &.guide {
          flex: 48;
          border: none;
        }
      }

      .label {
        font-size: 80%;
      }

      button {
        font-size: 100%;
      }

      strong {
        font-size: 3em;
        font-weight: inherit;
      }

      .info {
        color: $info-color;
      }
    }
  }

}
