@import "../../../styles/variables";
 :local(.styles) {
  font-size: 18px;
  line-height: 2;
  h1 {
    text-align: center;
    margin: 1.5em 0;
  }
  p {
    margin: 1.75em 0;
    font-size: 100%;
  }
  ol {
    list-style: none;
    padding-left: 1.6em;
    counter-reset: section;
    p {
      margin: 0;
    }
  }
  li {
    padding-left: 0.4em;
    position: relative;
    &:before {
      position: absolute;
      right: 100%;
      counter-increment: section;
      content: counters(section, ".") " ";
      color: rgba(0, 0, 0, .3);
    }
  }
}
