@import "../../styles/variables";

:local(.styles) {
  line-height: 1.6;
  tr.active {
    background-color: rgba(248, 238, 199, .5);
  }
  .time {
    width: 26%;
    padding: 12px 0;
    padding-left: 12px;
  }
  .state {
    font-size: 16px;
    padding-left: 12px;
    .fail {
      color: $error;
    }
    .success {
      color: $success;
    }
    .note {
      font-size: 14px;
    }
  }
  .info {
    color: $info-color;
  }
  .amount {
    text-align: right;
    padding-right: 12px;
    font-size: 13px;
    width: 15%;
    .figure {
      font-size: 16px;
    }
  }
  .payment {
    text-align: center;
    width: 16%;
    word-break: break-all;
  }

  .empty {
    color: $info-color;
    text-align: center;
    padding: 20px 0;
    >img {
      width: 100%;
      padding: 20px 24px;
      max-width: 409px;
      display: block;
      margin: 0 auto;
    }
  }
}
