@import "../../styles/variables";


:local(.styles) {
  border-top: $border;

  @media not all and ($phone) {
    > div {
      display: flex;
      flex-direction: row;
    }
    .side {
      flex: 2;
      margin-right: 24px;
    }
    .content {
      flex: 3;
    }
  }
}
