/* global styles */

@import 'fonts/radikal';
@import 'typography';
@import 'links';

* {
    box-sizing: border-box;
}

ul {
  margin: 0;
}

.fill-parent{
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

:global(body) {
  background-color: $background-color;
  height: 100%;
  margin: 0;

  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
  }
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
