/* global styles */

@import 'fonts/radikal';
@import 'typography';
@import 'links';

* {
    box-sizing: border-box;
}

ul {
  margin: 0;
}

.fill-parent{
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.clearfix:after {
    content:"\200B";
    display:block;
    height:0;
    clear:both;
}

.button-primary {
  background: $primary;
  color: white;
}
.button-secondary {
  background: $secondery;
  color: white;
}
.button-success {
  background: $success;
  color: white;
}

:global(html) {
  height: 100%;
}

:global(body) {
  background-color: $background-color;
  height: 100%;
  margin: 0;

  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
  }
}
