/* Typography */
@import "../../../styles/variables";

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $content-color;

  .font-logo {
    font-family: radikal, sans-serif;
    font-weight: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 16px;
}
