@import "../../styles/variables";

:local(.styles) {
  .content {
    text-align: center;
  }

  button {
    margin: 1em .5em;
  }
  .refresh {
    font-size: 80%;
    display: inline-block;
    width: 0;
    white-space: nowrap;
  }
}
