@import "../../../styles/variables";

:local(.styles) {
  background-image: $background-gradient;
  align-items: center;

  .banner-wrapper {
    width: 900px;
    max-width: 100%;
    padding-bottom: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(../images/banner.png) 90% 50% / 268px no-repeat;
    @media (#{$phone}) {
      background: linear-gradient(to right, rgba(238,241,244,0.8) 300px, rgba(238,241,244,0) 600px),
                  url(../images/banner.png) 90% 50% / 268px no-repeat;
    }
  }

  h1 {
    font-weight: normal;
    font-size: 1em;
    @media (#{$phone}) {
      font-size: .67em;
    }
  }

  .title1 {
    font-size: 36 / 14 * 100%;
  }
  .title2 {
    font-size: 46 / 14 * 100%;
  }

  del {
    background: url(../images/del.png) 50% 30% no-repeat;
    background-size: 95% 50%;
    padding: 0 .2em;
    text-decoration: none;
  }

  p {
    color: #787878;
    strong {
      color: $content-color;
      font-weight: inherit;
    }
  }

  .signup-button {
    font-size: 120%;
  }
}
