:local(.styles) {
  font-size: 10px;
  opacity: .5;
  margin: 20px 0 30px;
  text-align: center;

  li {
    display: inline;
    list-style: none;
    &:not(:last-child):after {
      content: '·';
      margin: 0 8px;
      opacity: .5;
    }
  }
}
