:local(.styles) {
  font-size: 10px;
  color: #666;
  padding: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #e2e2e2;

  li {
    display: inline;
    list-style: none;
    &:not(:last-child):after {
      content: '·';
      margin: 0 8px;
      opacity: .5;
    }
  }
}
