@import "../../../styles/variables";

:local(.styles) {
  font-size: 10px;
  color: #666;
  text-align: center;
  border-top: $border;

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  li {
    display: inline;
    list-style: none;
    &:not(:last-child):after {
      content: '·';
      margin: 0 8px;
      opacity: .5;
    }
  }
}
