@import "../../styles/variables";

:local(.styles) {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 120%;
  > label {
    margin: 0 0 10px;
    font-size: 80%;
  }
  > input {
    margin-bottom: 15px;
  }
}
