@import "../../styles/variables";

:local(.styles) {
  justify-content: center;
  background: $background-gradient;
  align-items: center;
  .terms-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 12px;
    > button {
      font-size: 130%;
      min-width: 5em;
      margin: 36px 0;
    }
  }
}
