@import "../../styles/variables";

:local(.styles) {
  width: 400px;
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $background-color;
  border: $border;
  font-size: 120%;
  > input {
    margin-bottom: 15px;
  }
}
