@import "../../styles/variables";

:local(.styles) {
  font: 16px;
  table {
    width: 100%;
    margin: 10px 0;
  }
  tr:nth-child(2n) {
    background: $background-color;
  }

  .pager {
    line-height: 30px;
    text-align: center;
    >span:not(.current)  {
      display: inline-block;
      min-width: 2.5em;
      margin: 0 4px;
      cursor: pointer;
      color: #999;
      font-size: 80%;
      border-radius: 2px;
      &:hover {
        background: $border-color;
        color: inherit;
      }
    }
  }
}
